{% include 'studentheader.html' %}
<br><br>
<form method="post">
    <center>
        <h1>Course</h1>
    <table border="1" class="table table-bordered" style="width: 500px;">
        <thead class="table-info">
        <tr>
            <th>Course</th>
        </tr>
        {% for i in m %}
        <tr>
            <td style="width: 40%;">{{i.course}}</td>
            <td style="width: 40%;"><a href="/viewsubject/{{i.course_id}}" class="btn btn-success" >View Subject</a></td>
        </tr>
        {% endfor %}
    </table>
</center>
</form>
<br><br><br>
{% include 'footer.html' %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>
